section.sec-slide.top
    h3.text-left Automação
    img(style="display: block;margin: auto" src="img/optimizer.png", alt="SVG OMGs")
    a( class="text-center", href="https://github.com/willianjusten/svg-grunt-optimizer", target="_blank") SVG-GRUNT-OPTIMIZER
