section(data-background="#0562dc")
    h2 
        a(class="link-hover" href="https://github.com/willianjusten/awesome-svg/blob/master/topics/Filters.md") Filtros
    h2 
        a(class="link-hover" href="https://github.com/willianjusten/awesome-svg/blob/master/topics/Masks-clips.md") Masks e Clip-paths
    h2 
        a(class="link-hover" href="https://github.com/willianjusten/awesome-svg/blob/master/topics/Patterns.md") Patterns
    h2 
        a(class="link-hover" href="https://github.com/willianjusten/awesome-svg") E muito mais!