section.top.sec-slide
    h1 Obrigado!
    img(style="width:300px", src="img/thanks.gif", alt="Thanks")
    p Slides:
    a(href="http://bit.ly/semcomp-svg") bit.ly/semcomp-svg

script.
    (function(e,t,n){
    var config = {
        key: "63f593c9c63a9d2738768494ff51725d",
        anonymous: true
    };
    var i;var s=e.getElementsByTagName(t)[0];if(e.getElementById(n)){return}i=e.createElement(t);i.id=n;i.src="https://widget.goinside.co/widget.js";i.type="text/javascript";i.async=true;i.onload=i.onreadystatechange=function(){var e=this.readyState;if(e&&e!="complete"&&e!="loaded"){return}try{var t=new Inside;t.init(config)}catch(n){}};s.parentNode.insertBefore(i,s)})(document,"script","inside-js");
