doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/titulo
				include ../slides/sobre
				include ../slides/globoesporte
				include ../slides/o-que-faco
				include ../slides/o-que-e
				include ../slides/por-que-vetor
				include ../slides/devices
				include ../slides/devices-density
				include ../slides/seriously
				include ../slides/so-isso
				include ../slides/por-que-usar
				include ../slides/wow
				include ../slides/por-onde-comeco
				include ../slides/criando
				include ../slides/baixando
				include ../slides/otimizando
				include ../slides/ferramentas-otimizacao
				include ../slides/como-funciona
				include ../slides/estrutura
				include ../slides/atomic
				include ../slides/como-usar
				include ../slides/usando-svg
				include ../slides/como-estilizar
				include ../slides/css-no-svg
				include ../slides/demo
				include ../slides/logo-weekly.html
				include ../slides/fragment-identifiers.html
				include ../slides/menu-hamburguer.html
				include ../slides/animacao-css.html
				include ../slides/animacao-css-2.html
				include ../slides/interativo.html
				include ../slides/animacao-smil.html
				include ../slides/dasharray.html
				include ../slides/draw-hello.html
				include ../slides/muito-mais
				include ../slides/draw.html
				include ../slides/obrigado
		include inc/scripts
